<button>Загрузить из TXT</button><br><br>
<form>
    <div>city: </div><input type="text" name="city"><br><br>
    <div>location: </div><input type="text" name="location"><br><br>
    <div>name: </div><input type="text" name="name"><br><br>
    <div>telephone: </div><input type="text" name="telephone"><br><br>
    <div>email: </div><input type="text" name="email">
</form>


<script>
    document.querySelector('button').addEventListener('click',async ()=> {  // вешаем клик на кнопку
        let form = document.forms[0],           // получаем ссылку на форму
            answer = await fetch('F:\\dj\\djsite\\text.txt'),  // посылаем запрос к файлу "myTXT.txt" и ждем ответ
            data = await answer.text(),         // в качестве значения переменная data принимает содержимое файла "myTXT.txt"
            arrayData = data.split`\n`;         // разбиваем содержимое data через символ новой строки "\n" и получаем массив

        form.city.value = arrayData[0].split` - `[1];       // присваиваем полю формы с name="city" новое значение разбитое через символы: пробел, тире, пробел (" - ")
        form.location.value = arrayData[1].split` - `[1];   // аналогично, только со своим name
        form.name.value = arrayData[2].split` - `[1];       // аналогично
        form.telephone.value = arrayData[3].split` - `[1];  // аналогично
        form.email.value = arrayData[4].split` - `[1];      // аналогично
    });
</script>


</body>
</html>